#loader-visible {
  visibility: visible;
  left: 47%;
  top: 50%;
  position: absolute;
  border: 16px solid var(--white);
  border-radius: 50%;
  z-index: 100;
  border-top: 16px solid var(--blue);
  width: 125px;
  height: 125px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#loader-hidden {
  visibility: hidden;
  left: 47%;
  top: 50%;
  position: absolute;
  border: 16px solid var(--white);
  border-radius: 50%;
  z-index: 100;
  border-top: 16px solid var(--blue);
  width: 125px;
  height: 125px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.DHB__Login-Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  background-color: white;
  color: var(--blue);
  height: 49vh;
  margin-top: 20vh;
  margin-left: 37.5%;
  box-shadow: 0 15px 30px 0 rgb(0 47 107 / 10%);
}

.DHB__Login-Form h2 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

.DHB__Login-Form label {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

.DHB__Login-Form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0 5px;
  border-bottom: var(--blue) solid 2.5px;
  width: 70%;
  color: var(--blue);
}

.DHB__Login-Form input::placeholder {
  opacity: 0.5;
  color: var(--blue);
}

.DHB__Login-Form #Submit {
  width: 70%;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
}

.DHB__Login-Form #Submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

#signInButton {
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#signInButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.DHB__Login-Forgot_Password {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-decoration: none;
  color: var(--black);
  transition: color 0.3s ease 0s;
}

.DHB__Login-Forgot_Password:hover {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-decoration: none;
  color: var(--blue);
}

.DHB__Login-ErrorFalse {
  color: red;
  visibility: hidden;
}

.DHB__Login-ErrorTrue {
  color: red;
  visibility: visible;
}
