.DHR__Main-Transfer_Money-AnotherUser {
  text-align: center;
  width: 80%;
  margin: 1rem 0rem 1rem 10%;
}

.DHR__Main-Transfer_Money-AnotherUser h2 {
  font-size: 3rem;
}

.DHR__Main-Transfer_Money-AnotherUser form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.DHR__Main-Transfer_Money-AnotherUser #Username {
  padding: 1rem;
  width: 35%;
  border-top: white;
  border-left: none;
  border-right: none;
  border-bottom: 3px var(--blue) solid;
  margin-top: 1rem;
  height: 1.5rem;
  border-radius: 0 1rem;
  background-color: transparent;
  color: var(--blue);
}

.DHR__Main-Transfer_Money-AnotherUser #Username::placeholder {
  color: var(--blue);
}

.DHR__Main-Transfer_Money-AnotherUser #Submit {
  width: 43%;
  margin: 1rem 0;
  height: 2rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
}

.DHR__Main-Transfer_Money-AnotherUser #Submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

.DHR__Main-Transfer_Money-AnotherUser #AmountTransfer {
  padding: 1rem;
  width: 35%;
  border-top: white;
  border-left: none;
  border-right: none;
  border-bottom: 3px var(--blue) solid;
  margin-top: 2rem;
  height: 1.5rem;
  border-radius: 0 1rem;
  background-color: transparent;
  color: var(--blue);
}

.DHR__Main-Transfer_Money-AnotherUser #AmountTransfer::placeholder {
  color: var(--blue);
}
